<div class="big-card-container">
    <div class="big-card-picture">
        <img src="https://preview.redd.it/42mfwni76aw51.jpg?auto=webp&s=34ab550dbf00645f506ba9039618d3d48076eb8e" alt="foto">
    </div>
    

    <div class="big-card-title">
        
        <h1><a href="#">Campeonato de MK11 do EGODOGABI </a></h1>
        
    </div>

    <div class="big-card-description">
        <p>Mussum Ipsum, cacilds vidis litro abertis. Delegadis gente finis, bibendum egestas augue arcu ut est.In elementis mé pra quem é amistosis quis leo.Per aumento de cachacis, eu reclamis.Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.</p>
    </div>
</div>
