<header>
    <app-menu-bar></app-menu-bar>
</header>


<app-menu-title></app-menu-title>

<div class="articles-container">
    <div class="articles-main">
        <app-big-card photoCover="https://preview.redd.it/42mfwni76aw51.jpg?auto=webp&s=34ab550dbf00645f506ba9039618d3d48076eb8e"
        
        cardTitle="Campeonato de MK11 egodogabi"

        cardDescription="Mussum Ipsum, cacilds vidis litro abertis. Delegadis gente finis, bibendum egestas augue arcu ut est.In elementis mé pra quem é amistosis quis leo.Per aumento de cachacis, eu reclamis.Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus."
        ></app-big-card>
    </div>

    
    <div class="articles-others">
        <app-small-card 
            photoCover="https://th.bing.com/th/id/OIP.s8i_ScA1CEphVYbf4LnwIAHaEo?pid=ImgDet&rs=1"
            cardTitle="Gameplay de terror"
        ></app-small-card>

        <app-small-card 
        photoCover="https://cdn2.unrealengine.com/15br-bplaunch-egs-s3-2560x1440-2560x1440-687570387.jpg"
        cardTitle="Melhores lives de fortnite"
    ></app-small-card>
    <app-small-card 
    photoCover="https://th.bing.com/th/id/R.35fd419c814ee10e978c66a1e06a89f1?rik=FBhxkTxPOPs04g&pid=ImgRaw&r=0"
    cardTitle="Novo Uncharted tem os melhores gráficos da geração"
></app-small-card>

        
    </div>

</div>
